<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Medium</title>
</head>
<body>
<h1>Social Medium</h1>

<form action="/new-post" method="get">
    <input type="submit" value="Submit new post">
</form>
<table>
    <thead>
    <td>ID</td>
    <td>ProfileId</td>
    <td>Title</td>
    <td>Content</td>
    <td>Created at</td>

<!--    <td>UPDATE</td>-->
    <td>DELETE</td>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.postId}"></td>
        <td th:text="${post.profileId}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.createdAt}"></td>

  <!--      <td>
            <form action="/update-profile" method="get">
                <input type="hidden" name="id" th:value="${profile.profileId}">
                <input class="submit" type="submit" value="Update">
            </form>
        </td>-->
        <td>
            <form action="/delete-post" method="get">
                <input type="hidden" name="id" th:value="${post.postId}">
                <input class="submit" type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>


<!--*************-->





<form action="/new-profile" method="get">
    <input type="submit" value="Add new profile">
</form>
<table>
    <thead>
    <td>ID</td>
    <td>FirstName</td>
    <td><a th:href="@{/sort-by-lastname}">LastName</a></td>
    <td>Email</td>
    <td>Date of Birth</td>
    <td>Gender</td>
    <td>UPDATE</td>
    <td>DELETE</td>
    </thead>
    <tbody>
    <tr th:each="profile : ${profiles}">
        <td th:text="${profile.profileId}"></td>
        <td th:text="${profile.firstName}"></td>
        <td th:text="${profile.lastName}"></td>
        <td th:text="${profile.email}"></td>
        <td>
            <span th:text="${profile.dateOfBirth.getDayOfMonth() + '/' + profile.dateOfBirth.getMonthValue() + '/' + profile.dateOfBirth.getYear()}"></span>
        </td>
        <td th:text="${profile.gender}"></td>


        <td>
            <form action="/update-profile" method="get">
                <input type="hidden" name="id" th:value="${profile.profileId}">
                <input class="submit" type="submit" value="Update">
            </form>
        </td>
        <td>
            <form action="/delete-profile" method="get">
                <input type="hidden" name="id" th:value="${profile.profileId}">
                <input class="submit" type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>