<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Medium</title>
</head>
<body>
<h1>Social Medium</h1>

<table>
    <thead>
    <td>ID</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Email</td>
    <td>Date of Birth</td>
    <td>Gender</td>
    </thead>
    <tbody>
    <tr th:each="profile : ${profiles}">
        <td th:text="${profile.profileId}"></td>
        <td th:text="${profile.firstName}"></td>
        <td th:text="${profile.lastName}"></td>
        <td th:text="${profile.email}"></td>
        <td>
            <!--<span th:text="${profile.dateOfBirth.getDayOfMonth()}"></span>-->
            <span th:text="${profile.dateOfBirth.getDayOfMonth() + '/' + profile.dateOfBirth.getMonthValue() + '/' + profile.dateOfBirth.getYear()}"></span>

        </td>
        <td th:text="${profile.gender}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>